*, html, body {
	margin: 0;
	padding: 0;
	background-color: #d3d3d3;
}

.bkgndLogin {
	background-image: url("../resources/images/backgroundLogin.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: right bottom;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin-left: 50px;
	font: 80%/1.2 Helvetica, Arial;
	min-width: 650px;
}

#superior {
	background-color: rgb(36, 87, 69);
	min-width: 700px;
	width: 100%;
	height: 42px;
	top: 0;
	position: fixed;
	left: 0px;
	right: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0
		rgba(0, 0, 0, 0.19);
	z-index: 1000;
}

#logoDMAT {
	height: 90%;
	width: 200px;
	background-image:
		url("../resources/images/menuNavegacao/LogoDMATNET_vert.png");
	background-size: cover;
	float: left;
	left: 0;
	margin-top: 2px;
}

#empresaSelecionada {
	height: 90%;
	width: 300px;
	background-color: rgb(36, 87, 69);
	border-right-style: solid;
	border-right-color: rgb(255, 255, 255);
	border-right-width: 1px;
	margin-left: 0px;
	margin-top: 2px;
	float: left;
}

#usuarioLogado {
	height: 90%;
	width: 200px;
	background-color: #5b5b5b;
	border-left-style: solid;
	border-left-color: rgb(255, 255, 255);
	border-left-width: 1px;
	margin-top: 2px;
	float: right;
	right: 0;
	z-index: 1000;
}

.menuBotao {
	height: 55px;
	width: 200px;
	background-color: rgb(96, 96, 98);
	display: block;
	color: white;
	margin-top: 1px;
	cursor: pointer;
}

.menuBotao:hover {
	background-color: rgb(71, 131, 155);
	color: white;
}

.menuBotao:active {
	background-color: rgb(215, 215, 215);
	color: black;
}

.logosMenu {
	height: 54px;
	width: 54px;
	background-size: 46px 46px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	float: left;
}

.rotuloMenu {
	height: inherit;
	max-width: 90px;
	margin-left: 54px;
	padding-left: 5px;
	background-color: transparent;
	vertical-align: middle;
	display: table-cell;
}

.textoMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 7.5pt;
	line-height: 30%;
	color: inherit;
	background-color: transparent;
}

#logoCadEmpresa {
	background-image:
		url("../resources/images/menuNavegacao/newIcoCadEmpresas_out.png");
}

#logoCadUsuarios {
	background-image:
		url("../resources/images/menuNavegacao/newIcoCadUsuarios_out.png");
}

#logoDocLegais {
	background-image:
		url("../resources/images/menuNavegacao/newIcoDocLegais_out.png");
}

#logoOrdServicos {
	background-image:
		url("../resources/images/menuNavegacao/newIcoOrdServicos_out.png");
}

#logoAuditoria {
	background-image:
		url("../resources/images/menuNavegacao/newIcoAuditoria_out.png");
}

#logoTreinamento {
	background-image:
		url("../resources/images/menuNavegacao/newIcoTreinamento_out.png");
}



/*
os seletores abaixo, dentro do comentário são perfis legados

#lateral {
	padding: 0 50px 0 0;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-size: 1.2em;
	background: rgb(75, 75, 77);
	background-image: -moz-linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	background-image: -webkit-linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	background-image: -o-linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	background-image: -ms-linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	background-image: linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	height: 100%;
	overflow: hidden;
	width: 200px;
	position: fixed;
	top: 42px;
	left: -150px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	z-index: 1000;
}

#lateral:before {
	z-index: 1000;
	content: url("../resources/images/menuNavegacao/icoMenu.png");
	font-size: 4em;
	color: white;
	position: fixed;
	left: 2.3px;
	top: 30px;
}

#lateral:hover:before, #lateral:focus:before {
	left: -500px;
}

#lateral:hover, #lateral:focus, #lateral:active {
	-moz-transform: translate(150px, 0);
	-webkit-transform: translate(150px, 0);
	-o-transform: translate(150px, 0);
	transform: translate(150px, 0);
	padding-right: 0px;
	overflow: auto;
}
*/


#lateral {
	padding: 0 0 0 0;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: rgb(75, 75, 77);
	background-image: -moz-linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	background-image: -webkit-linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	background-image: -o-linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	background-image: -ms-linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	background-image: linear-gradient(135deg, rgb(75, 75, 77),
		rgb(49, 49, 49));
	height: 100%;
	overflow: hidden;
	width: 56px;
	position: fixed;
	top: 42px;
	left: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	z-index: 1000;
}

#lateral:before {
	z-index: 1000;
	color: white;
}

#lateral:hover, #lateral:focus, #lateral:active {
	width: 200px;
	overflow: auto;
}

#conteudo {
	margin-top: 42px;
	padding-left: 56px;
	right: 0px;
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: auto;
}

.painelConteudo {
	width: inherit;
	height: inherit;
}